{% extends "layout_news.html" %}
{% block title %}News {% endblock %}

{% block main %}
<div class="paddingBox  col-md-12 " id="News">  
    <div class="container">
      <div class="row ">
        <h2 class="text-center">{{data.history.title}}</h2>
        
        <div class="col-md-12" style="margin-top: 30px;">
        {% autoescape on %}{{data.history.content}}{% endautoescape %}
        </div>

        <!--row--> 
      </div>
      <!--container--> 
    </div>
    <!--paddingBox--> 
  </div>
{% endblock %}