<!DOCTYPE html>
<html dir="ltr" lang="en-US">
   <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
   <head>
      <title>MacKay Shields | Income and Equity Solutions</title>
      <base  />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <title>FC Group</title>
      <link rel="icon" href="/static/home/images/favicon.png" type="image/png">
      <link rel="stylesheet" href="/static/home/css/all-stylesheets.css" type="text/css" />
      {% block css %}{% endblock %}
      
   </head>
   <body class="home-page" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
      <div class="page-loader-wrapper page-loader-wrapper-1"> 
         <div class="loader">
            <div class="stick1"></div>
            <div class="stick2"></div>
            <div class="stick3"></div>
            <div class="stick4"></div>
         </div>
      </div>
         
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="main-banner"> 
  <div class="row">
 <div id="banner-slider" class="banner-slider">
<div>
    <div class="banner-outer col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <div class="row">
        <div class="banner-text regular-font darkBlueBg text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div>
            <figure><img src="/static/home/images/small-logo.png" alt="small-logo" /></figure>
            <h1>We Plan Your Financial 
              Investments</h1>
            <p>We are experienced team of dedicated developers, traders and analysts who involved in crypto trading. Join us and start to earn profit now!</p>
            <div class="banner-btn transparent-btn"><a href="/auth/login">Login now</a></div>
          </div>
          
        </div>
        
      </div>
      
    </div>
     <div class="banner-img col-lg-7 col-md-7 col-sm-12 col-xs-12"> 
      
    </div>
    </div><div>
     <div class="banner-outer banner-outer2 col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <div class="row">
        <div class="banner-text regular-font darkBlueBg text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div>
            <figure><img src="/static/home/images/small-logo.png" alt="small-logo" /></figure>
            <h1>our Business & Financial Solution</h1>
            <p>Mackayshields offers fast withdrawals of your profits. If you choose to withdraw your funds using Bitcoin, Ethereum, we offer instant 24/7 withdrawals.</p>
            <div class="banner-btn transparent-btn"><a href="/auth/login">Login now</a></div>
          </div>
          <!--banner-text--> 
        </div>
        <!--row--> 
      </div>
      <!-- banner-outer--> 
    </div>
     <div class="banner-img banner-img2 col-lg-7 col-md-7 col-sm-12 col-xs-12"> 
      <!--banner-img--> 
    </div>
    </div><div>
     <div class="banner-outer banner-outer3 col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <div class="row">
        <div class="banner-text regular-font darkBlueBg text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div>
            <figure><img src="/static/home/images/small-logo.png" alt="small-logo" /></figure>
            <h1>OUR TEAM DEEP EXPERTISE
BROAD EXPERIENCE</h1>
            <p>You can promote Mackayshields, by placing our banners or text ads on your website, blog or you can simply put the affiliate link in message forum signatures, email signatures, promoting to your friends, family members or co-workers. We offer 8-12% referral commission for every amount your referral deposits with us.</p>
            <div class="banner-btn transparent-btn"><a href="/auth/login">Login now</a></div>
          </div>
          <!--banner-text--> 
        </div>
        <!--row--> 
      </div>
      <!-- banner-outer--> 
    </div>
     <div class="banner-img banner-img3 col-lg-7 col-md-7 col-sm-12 col-xs-12"> 
      <!--banner-img--> 
    </div>
    </div></div>
    <div class="explore-services BlueBg semibold-font" id="explore">Explore the
      services
      <figure class="bounce"><img src="/static/home/images/arrow-down.png" alt="arrow" /></figure>
      <!--explore-services--> 
    </div>
    <!--row--> 
  </div>
  <!--col-lg-12--> 
</div>
<!--=====================================--> 
<!--============ Navigation =============--> 
<!--=====================================-->
<div class="greyBg header-con col-lg-12 col-md-12 col-sm-12 col-xs-12" id="headerCon"> 
  <div class="container">
    <div class="row">
      <aside class="header col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="logo pull-left"><a class=" page-scroll" href="#page-top"><img src="/static/home/images/small-logo.png" alt="logo"  style="height: 60px; margin-top: 18px;" /></a></div>
        <div class="clearfix showmb"></div>
        <nav class="navbar navbar-default pull-right">
          <div class="container-fluid">
            <div class="row"> 
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <!--navbar-header--> 
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="clearfix "></div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="row">
                  <ul class="nav navbar-nav">
                    <li class="active"><a class=" page-scroll" href="#page-top">Home</a></li>
                    <li><a class=" page-scroll" href="#about">Our History</a></li>
                    <li><a class=" page-scroll" href="#services">Services</a></li>
                    <li><a class=" page-scroll" href="#team">Team</a></li>
                    
                    <li><a class=" page-scroll" href="#contact">Payment</a></li>
                    <li><a class=" page-scroll" href="/auth/login">Login</a></li>
                  </ul>
                  <!--row--> 
                </div>
                <!--collapse--> 
              </div>
              <!--row--> 
            </div>
            <!--container-fluid--> 
          </div>
          <!--navbar--> 
        </nav>
        <!--header--> 
      </aside>
      <!--row--> 
    </div>
    <!--container--> 
  </div>
  <!--greyBg--> 
</div>
<div class="main-contentbox">
  <!--=====================================--> 
  <!--========= Bringing new look =========--> 
  <!--=====================================-->
  <div class="paddingBox col-lg-12 col-md-12 col-sm-12 col-xs-12" id="about"> 
    <div class="container">
      <div class="row">
        <div class="text-center col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="logo-background">
            <figure class="business-meeting-img"><img src="/static/home/images/business-meeting.png" alt="business-meeting"/></figure>
            <!--logo-background--> 
          </div>
          <!--text-center--> 
        </div>
        <div class="business-box col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <h1 class="light-blue-color">OUR HISTORY</h1>
          
          <p>MacKay Shields was founded in 1938 as an economic consulting firm by Gilbert MacKay and became a registered investment adviser in 1969. We were acquired by the New York Life Insurance Company in 1984 as the foundation to its multi-boutique investment advisor model. The model which was designed to combine the benefits of nimble and independent investment boutiques with the strength of a financially strong partner has been key to MacKay’s success for more than 25 years. </p>
          <p class="blue-color regular-font">Proprietary research has always been at the core of MacKay’s strategies with fundamental, macro and/or quantitative insights being used by the various teams. Over the years, MacKay Shields has emerged as a growing player in the investment management industry, and is well known for its research acumen.</p>
          <ul>
            <li>Incorporate ESG issues into investment analysis and decision-making processes.</li>
            <li>Be active owners and incorporate ESG issues into ownership policies and practices. </li>
            <li>Seek appropriate disclosure on ESG issues by the entities in which we invest.</li>
            <li>Promote acceptance and implementation of the PRI within the investment industry.</li>
            <li>Work together to enhance our effectiveness in implementing the PRI.</li>
            <li>Report activities and progress toward implementing the PRI.</li>
          </ul>
          
        </div>
        <!--row--> 
      </div>
      <!--container--> 
    </div>
    <!--paddingBox--> 
  </div>   
  <!--=====================================--> 
  <!--============ Who We Are =============--> 
  <!--=====================================-->
  <div class="pattern col-lg-12 col-md-12 col-sm-12 col-xs-12">  
    <div class="container">
      <div class="row">
        <div class="who-we-are pull-left col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div>
            <h2>Who We Are</h2>
            <p>The GFI team incorporates a process which includes a comprehensive evaluation of a list of risk factors, a number of which can be classified as Environmental, Social and Governance (ESG) factors. We are keenly aware of these ESG risks and their impact on the credit worthiness of borrowers and bond issuers.</p>
            <p>It is clear to us that ESG factors have a greater impact on businesses around the world and that no credit analysis is complete without considering these factors. As such, ESG risk assessment is incorporated in the process and the responsibility of each member of the investment team. </p>
            
          </div>
          <!--who-we-are--> 
        </div>
        <!--row--> 
      </div>
      <!--container--> 
    </div>
    <div class="who-we-are-img"><img src="/static/home/images/who-we-are-img.png" alt="who-we-are-img" /></div>
    <!--pattern--> 
  </div>
  <!--===============================================--> 
  <!--========= We offer Different Services =========--> 
  <!--===============================================-->
  <div class="paddingBox col-lg-12 col-md-12 col-sm-12 col-xs-12" id="services"> 
    <div class="container">
      <div class="row text-center">
        <h2 class="black-font">We offer Different Services</h2>
        <p class="regular-font">The company opened its doors to the public as a cryptocurrency investment company, offering one of the most comprehensive opportunities for Bitcoin enthusiasts to invest in the future of the world’s most famous cryptocurrency. Mackayshields offers a highly profitable investment for everyone. Years of trading experience in the crypto-currency markets provide a stable income not only for company but also for numerous clients around the world.

</p>
        <div class="spacer"></div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 imghvr-push-down">
          <div class="services-box greyBg col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div>
              <figure data-effect="pop"><img src="/static/home/images/icons/invest-img.png" alt="invest-img" /></figure>
              <h4 class="black-color">EV SSL CERTIFICATE</h4>
              <div class="services-info-con">
                <div class="services-info">
                  <div class="services-infoBox">
                    <div>
                      <figure><img src="/static/home/images/icons/invest-imgHover.png" alt="invest-imgHover" /></figure>
                      <h4 class="white-color">EV SSL CERTIFICATE</h4>
                      <p class="regular-font">Our COMODO EV SSL
Certificate guarantees the
security of your transactions.</p>
                     
                    </div>
                    <!--services-infoBox--> 
                  </div>
                  <!--services-info--> 
                </div>
                </div>
            </div>
            <!--services-box--> 
          </div>
          <!--col-lg-3--> 
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 imghvr-push-down">
          <div class="services-box greyBg col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div>
              <figure data-effect="pop"><img src="/static/home/images/icons/funds-img.png" alt="funds-img" /></figure>
              <h4 class="black-color">INSTANT WITHDRAWALS</h4>
             <div class="services-info-con">
                <div class="services-info">
                  <div class="services-infoBox">
                    <div>
                      <figure><img src="/static/home/images/icons/funds-imgHover.png" alt="funds-imgHover" /></figure>
                      <h4 class="white-color">INSTANT WITHDRAWALS</h4>
                      <p class="regular-font">Get your payment instantly as 
soon as you request it! 
</p>
                      
                    </div>
                    <!--services-infoBox--> 
                  </div>
                  <!--services-info--> 
                </div>
              </div>
            </div>
            <!--services-box--> 
          </div>
          <!--col-lg-3--> 
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 imghvr-push-down">
          <div class="services-box greyBg col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div>
              <figure data-effect="pop"><img src="/static/home/images/icons/saving-img.png" alt="saving-img" /></figure>
              <h4 class="black-color">DEDICATED SERVER</h4>
              <div class="services-info-con">
                <div class="services-info">
                  <div class="services-infoBox">
                    <div>
                      <figure><img src="/static/home/images/icons/saving-imgHover.png" alt="saving-imgHover" /></figure>
                      <h4 class="white-color">DEDICATED SERVER</h4>
                      <p class="regular-font">The website uses a very 
powerful dedicated server
with the highest level of 
protection.</p>
                     
                    </div>
                    <!--services-infoBox--> 
                  </div>
                  <!--services-info--> 
                </div>
              </div>
            </div>
            <!--services-box--> 
          </div>
          <!--col-lg-3--> 
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 imghvr-push-down">
          <div class="services-box greyBg col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div>
              <figure data-effect="pop"><img src="/static/home/images/icons/retirement-img.png" alt="retirement-img" /></figure>
              <h4 class="black-color">REGISTERED COMPANY</h4>
              <div class="services-info-con">
                <div class="services-info">
                  <div class="services-infoBox">
                    <div>
                      <figure><img src="/static/home/images/icons/retirement-imgHover.png" alt="retirement-imgHover" /></figure>
                      <h4 class="white-color">REGISTERED COMPANY</h4>
                      <p class="regular-font">Iscooler Limited is registered 
in the UK. Our company 
number is: #10862123 .</p>
                      <div class="transparent-btn btn1"><a href="#">Read More</a></div>
                    </div>
                    <!--services-infoBox--> 
                  </div>
                  <!--services-info--> 
                </div>
              </div>
            </div>
            <!--services-box--> 
          </div>
          <!--col-lg-3--> 
        </div>
        <!--row--> 
      </div>
      <!--container--> 
    </div>
    <!--paddingBox--> 
  </div>
  <!--====================================--> 
  <!--========= Business Meeting =========--> 
  <!--====================================-->
  <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
    <div class="row">
      <aside class="business-imagebox col-lg-4 col-md-4 col-sm-7 col-xs-12 ">
        <div class="row">
          <figure><img src="/static/home/images/business-quality.jpg" alt="business-quality" /></figure>
          <h3 class="caption-heading">Upward Trends</h3>
          <div class="caption">
            <div class="caption-text">
              <h3>Upward Trends</h3>
              <p class="regular-font">Our portfolio only knows one direction, UPWARDS! Regardless of market status.</p>
              
            </div>
            <!--caption--> 
          </div>
          <!--row--> 
        </div>
        <!--business-imagebox--> 
      </aside>
      <aside class="business-imagebox col-lg-4 col-md-4 col-sm-7 col-xs-12 ">
        <div class="row">
          <figure><img src="/static/home/images/commitment.jpg" alt="commitment" /></figure>
          <h3 class="caption-heading">Solid Exp</h3>
          <div class="caption">
            <div class="caption-text">
              <h3>Solid Exp</h3>
              <p class="regular-font">Our solid years of experience in the industry are second to none. We can only get better.</p>
              <!-- caption-text--> 
            </div>
            <!-- caption--> 
          </div>
          <!--row--> 
        </div>
        <!--business-imagebox--> 
      </aside>
      <aside class="business-imagebox col-lg-4 col-md-4 col-sm-7 col-xs-12 ">
        <div class="row">
          <figure><img src="/static/home/images/business-success.jpg" alt="business-success" /></figure>
          <h3 class="caption-heading">Crypto Experts</h3>
          <div class="caption">
            <div class="caption-text">
              <h3>Crypto Experts</h3>
              <p class="regular-font">Be it mining or trading, we are always taking the lead. We aren't called experts for nothing.</p>
              <!--caption-text--> 
            </div>
            <!--caption--> 
          </div>
          <!--row--> 
        </div>
        <!--business-imagebox--> 
      </aside>
      <!--row--> 
    </div>
    <!--text-center--> 
  </div>
  <!--=====================================--> 
  <!--============= Skill Level ===========--> 
  <!--=====================================-->
  <div class="paddingBox col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <aside class="skill-level col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="numeric logo-background stat-count pull-left bold-font">22</div>
            <h4 class="black-color pull-left"><span>Years of <br>
              Experiences</span></h4>
            <!--skill-level--> 
          </aside>
          <!--col-lg-3--> 
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <aside class="skill-level col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="numeric stat-count logo-background pull-left bold-font">50</div>
            <h4 class="black-color pull-left"><span>Professional<br>
              Advisors</span></h4>
            <!--skill-level--> 
          </aside>
          <!--col-lg-3--> 
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <aside class="skill-level col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="numeric stat-count logo-background pull-left bold-font">75</div>
            <h4 class="black-color pull-left"><span>news cases<br>
              every years</span></h4>
            <!--skill-level--> 
          </aside>
          <!--col-lg-3--> 
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <aside class="skill-level col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="numeric stat-count logo-background pull-left bold-font">99</div>
            <h4 class="black-color pull-left"><span>Registered<br>
              Cases</span></h4>
            <!--skill-level--> 
          </aside>
          <!--col-lg-3--> 
        </div>
        <!--row--> 
      </div>
      <!--container--> 
    </div>
    <!--paddingBox--> 
  </div>
  <!--=====================================--> 
  <!--========= Meet our Advisors =========--> 
  <!--=====================================-->
  <div class="greyBg paddingBox col-lg-12 col-md-12 col-sm-12 col-xs-12" id="team"> 
    <div class="container">
      <div class="row text-center">
        <h2>Leadership Team</h2>
        
        <div class="spacer"></div>
        <div class="col-sm-6 col-xs-12">
          <aside class="advisor-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <figure class="advisor-img1"><img src="/static/home/images/JeffreyPhlegar-headshot.1362404819.jpg" alt="advisor-img1" /></figure>
            <div class="advisor-info text-right">
              <h3>JEFFREY S. PHLEGAR <span>Chairman and Chief Executive Officer</span></h3>
              <p>Jeffrey Phlegar is Chairman and Chief Executive Officer. Mr. Phlegar is responsible for setting the firm’s strategy and leading the organization as it implements its goals across fixed income and equity strategies.  Jeffrey oversees seven investment teams, enterprise risk, distribution, new product development, mergers and acquisitions. He joined as Chairman of the firm’s Board of Managers in 2011 and leads the Senior Leadership Team.</p>
              <p>Jeffrey also serves as Vice Chairman of New York Life Investment Management International, is a member of Candriam’s Belgium Board of Directors, Chairman of the Plainview Funds (an Irish QIAIF) Board of Directors, and serves as a member of the Management Committee of New York Life Investment Management, LLC.</p>
              <p>Previously, Jeffrey was an Executive Vice President and Chief Investment Officer for AllianceBernstein, LP. He served as a member of AllianceBernstein’s Executive Committee, which was responsible for management, key strategic initiatives and resource allocation of the firm. Mr. Phlegar led the formation of a Special Situations business unit to address the evolving needs of clients seeking specialty investment services. Prior to that, he was Co-Head and Chief Investment Officer of AllianceBernstein’s Fixed Income division overseeing $200 billion of assets under management – responsibilities included portfolio and research oversight, business development, thought leadership, technology and business planning.</p>
              <p>Mr. Phlegar joined AllianceBernstein from Equitable Capital in 1992 when two investment managers were merged together by Axa Group. While at Equitable Capital, Mr. Phlegar served as a Fixed Income Trader and Portfolio Manager for insurance company portfolios and offshore investment trusts.</p>
              <!--advisor-info--> 
            </div>
            
            <!--advisor-box--> 
          </aside>
          <!--col-lg-3--> 
        </div>
        <div class="col-sm-6 col-xs-12">
          <aside class="advisor-box col-lg-12 col-md-12 col-sm-12 col-xs-12 active">
            <figure class="advisor-img2"><img src="/static/home/images/LucilleProtas-headshot.1362404819.jpg" alt="advisor-img2" /></figure>
            <div class="advisor-info text-right">
              <h3>LUCILLE P. PROTAS<span>Executive Managing Director
President & Chief Operating Officer
</span></h3>
              <p>Lucille P. Protas is an Executive Managing Director and President and Chief Operating Officer of MacKay Shields, responsible for managing all aspects of the firm’s infrastructure divisions, including finance/accounting, human resources, administration and back-office operations. She is actively involved in shaping the firm’s direction through her participation on its Board of Managers and the Senior Leadership Team. Lucille joined the firm in 1973 as an Investment Research Assistant and later became a Senior Analyst in the accounting and financial division in 1977. She was named Treasurer in 1983, Chief Administrative Officer in 1992 and Chief Operating Officer in 2007.</p>
            <p>She attended Fairleigh Dickinson University. She has been working in the investment industry since 1973.</p>
              <!--advisor-info--> 
            </div>
            
          </aside>
          <!--col-lg-3--> 
        </div>
        
       
        <!--row--> 
      </div>
      <!--container--> 
    </div>
    <!--greyBg--> 
  </div>  
  
  
  <!--=====================================--> 
 
  <div class="paddingBox col-lg-8 col-md-push-2" id="contact"> 
    <div class="">
      <div class="row text-center">
        <h2 class="black-font">We Accepted Payment Method</h2>
        <p class="regular-font">We bring the right people together to challenge established thinking and drive transformation. We will show the way to successive.</p>
        
        <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <img class="bitcoin" src="/static/home/images/BC_Logo_.png"> <img class="ethereum" src="/static/home/images/628px-Ethereum_logo_2014.svg.png">
        </div>
        <div class="spacer"></div>
        <div class="col-md-12 text-center">
          <p>The foundation of Mackayshields is safe and secured platform. We ensure that our platform is protected by third-party interface using a worldwide data center network. Mackayshields Ltd uses EV-SSL certificate securing all online data transmission along with anti-malware software programs such as DDoS, Trustwave, McAfee, etc.</p>

          <ul class="seals-container clearfix">
            <li>
             <a href="#" target="_blank"><img src="/static/img/security-1.png"></a>
          </li>
          <li>
             <a href="#" target="_blank"><img src="/static/img/security-2.png"></a>
          </li>
          <li>
             <a href="#" target="_blank"><img src="/static/img/security-3.png"></a>
          </li>
          <li>
             <a href="#" target="_blank"><img src="/static/img/security-4.png"></a>
          </li>
          <li>
             <a href="#" target="_blank"><img src="/static/img/security-5.png"></a>
          </li>
          <li>
             <a href="#" target="_blank"><img src="/static/img/security-7.png"></a>
          </li>
          <li>
             <a href="#" target="_blank"><img src="/static/img/security-8.png"></a>
          </li>
          <li>
             <a href="#" target="_blank"><img src="/static/img/security-9.png"></a>
          </li>
          <li>
             <a href="#" target="_blank"><img src="/static/img/security-11.png"></a>
          </li>
          </ul>
        </div>
        <div class="contact-form col-lg-12 col-md-12 col-sm-12 col-xs-12">
          
          <!-- <form method="post" id="contactpage">
            <div class="box">
                  <h3>
                     Calculate Your Profit
                  </h3>
                  <form action="#">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="form-row">
                              <div class="form-group col-md-12">
                                 <label>Enter Ammount :</label>
                                 <input  type="text" type="text" class="myForn" placeholder="10">
                              </div>
                              <div class="form-group col-md-12">
                                 <label>Net Profit :</label>
                                 <input  type="text" type="text" class="myForn" placeholder="$5">
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-row">
                              <div class="form-group col-md-12">
                                 <label>Total Profit :</label>
                                 <input type="text" class="myForn" placeholder="$15">
                              </div>
                              <div class="form-group col-md-12">
                                 <label></label>
                                 <input name="submit" type="submit" class="submit" value="Submit Now!">
                              </div>
                           </div>
                        </div>
                     </div>
                  </form>
               </div>

            
          </form> -->
          <!--contact-form--> 
        </div>
        <!--row--> 
      </div>
      <!--container--> 
    </div>
    <!--paddingBox--> 
  </div>
  <!--main-contentbox--> 
</div>
  <!--=====================================--> 
  <!--============== Partners =============--> 
  <!--=====================================-->
  
  <!--main-contentbox--> 
</div>
<!--=====================================--> 
<!--============== Support ==============--> 
<!--=====================================-->
<div class="support-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="container">
    <div class="row">
      <aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span class="support-heading semibold-font pull-left">Become a member of Mackayshields quite easy. Simply open an account with no time and join us.</span>
        <div class="transparent-btn pull-right"><a href="/auth/login">OPEN AN ACCOUNT</a></div>
        <!--col-lg-12--> 
      </aside>
      <!--row--> 
    </div>
    <!--container--> 
  </div>
  <!--support-box--> 
</div>
<!--=====================================--> 
<!--============== Footer ===============--> 
<!--=====================================-->
<div class="darkBlueBg paddingBox col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="container">
    <div class="row">
      <div class="footer col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <aside class="copyright-section col-lg-4 col-sm-12 col-xs-12">
          <div class="logo pull-left"><a href="/"><img src="/static/home/images/small-logo.png" alt="logo" /></a></div>
          <ul>
            <li>© MacKay Shields 2019.</li>
            <li>An affiliate of New York Life Investment Management Holdings LLC</li>
            
          </ul>
          <div class="social-icons">
            <ul>
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <li><a href="#" class="fa fa-linkedin"></a></li>
                <li><a href="#" class="fa fa-google-plus"></a></li>
              </ul>
            <!--social-icons--> 
          </div>
          <!--copyright-section--> 
        </aside>
        <aside class="sitemap col-lg-4 col-sm-12 col-xs-12">
          <h5>Contact Us</h5>
          <ul>
            <li><i class="fa fa-map-marker"></i> 1345 Avenue of the Americas New York, NY  10105</li>
            
            <li><i class="fa fa-envelope"></i> <a href="mailto:answers@mackayshields.com">answers@mackayshields.com</a></li>
          </ul>
          <!--sitemap--> 
        </aside>
        <aside class="twitter-feeds col-lg-4 col-sm-12 col-xs-12">
          <h5>Twitter Feeds</h5>
          <ul>
            <li><i class="fa fa-twitter"></i> <a href="#">A well-designed #eComme & back 
              office in egration is ...
              <span class="tweet-link">https://t.co/0Nn8mVrebG</span>
              <span class="tweet-date">December , 01, 2016</span></a></li>
            <li><i class="fa fa-twitter"></i> <a href="#">A well-designed #eCommerce solution
              back office in egration is ...
              <span class="tweet-link">https://t.co/0Nn8mVrebG</span>
              <span class="tweet-date">December , 01, 2016</span></a></li>
          </ul>
          <!--twitter-feeds--> 
        </aside>
        
        <!--footer--> 
      </div>
      <!--row--> 
    </div>
    <!--container--> 
  </div>
  <!--darkBlueBg--> 
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="/static/home/js/jquery-1.12.3.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="/static/home/js/bootstrap/bootstrap.js"></script> 
<!-- Counter --> 
<script src="/static/home/js/counter/counter.js"></script> 
<!-- Owl Carousel --> 
<script src="/static/home/owl-carousel/js/owl.carousel.js"></script> 
 <!-- LAZY EFFECTS Scripts --> 
<script type="text/javascript" src="/static/home/js/jquery.unveilEffects.js"></script>
<!-- Scrolling Nav JavaScript -->
<script type="text/javascript" src="/static/home/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="/static/home/js/scrolling-nav.js"></script>
<!-- Filter gallery --> 
<script src="/static/home/js/projects/isotope.js"></script> 
<!-- Form Submission --> 
<script src="/static/home/js/form-submission/validate.js"></script> 
<script src="/static/home/js/form-submission/contact-form.js"></script> 
 <!-- Custom Scripts --> 
<script src="/static/home/js/custom.js"></script>
      {% block main %}{% endblock %}
   
</html>